body {
    margin: 0;
    padding: 0;
    --off-white: #fafafa;
    font-family: "Open Sans", sans-serif;
}

.left_section,
.right_section {
    margin: 0;
    padding: 0;
}

.left_section {
    width: 15%;
    height: auto;
    position: static;
}

.right_section {
    width: 85%;
    height: auto;
    position: static;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

/************ Navarea ***********/
.navbar {
    z-index: 1000;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
    width: 100%;
    position: fixed;
    background-color: #fff;
    padding: 1rem;
}

.nav_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 100%;
    font-size: 1rem;
    overflow: auto;
    position: fixed;
}

.navbar-toggler:focus {
    outline: none;
}

.nav_items {
    position: -webkit-sticky;
    position: sticky;
}

.section_name {
    padding: 0 0.5rem;
}

.section_name > a {
    display: block;
    color: #007bff;
    padding: 0.25rem 0.5rem;
    border: 1px solid #fff;
    border-radius: 0.2rem;
    width: 6rem;
    text-align: center;
}

.section_name > .active {
    border: 1px solid #007bff;
}

.section_name > a:hover {
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    cursor: pointer;
}

/************ Intro ****************/
.intro {
    display: block;
    width: auto;
    height: 60rem;
    background-image: url("https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.name {
    font-family: "Playfair Display", serif;
    font-size: 5rem;
}

.title {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

/*********** Projects *************/
.projects {
    height: 60rem;
}

.projects_title {
    font-size: 4rem;
    padding: 2rem;
}

/********* Education **************/
.education {
    height: 60rem;
}

.education_title {
    font-size: 4rem;
    padding: 1rem;
}

.university_degree {
    padding: 2rem;
}

.versity_dept {
    font-size: 2rem;
}

.versity_name {
    font-size: 1.7rem;
    font-weight: bold;
}

.versity_area {
    font-size: 1.5rem;
}

.online_degree_title {
    font-size: 2.5rem;
    padding: 1rem;
}

/******** Contacts *********/
.contact {
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    height: 60rem;
}

.contacts_title {
    font-size: 4rem;
    padding: 1rem;
}

.name_contact {
    font-size: 2rem;
}

.contact_font {
    font-size: 1.2rem;
}

.contact_icon {
    padding-right: 0.5rem;
}

.social_links_title {
    font-size: 2rem;
}

.social_links {
    font-size: 2rem;
}

.connections {
    background-color: var(--off-white);
    padding-right: 1.2rem;
    position: static;
}

.scroll_top_section {
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.scroll_top_button {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 50%;
}
